---
title: Biblio
permalink: /biblio/
---


<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper-biblio">


		<div class="biblio-column">
		<div class="section">
		<h2 class="status"> Reading </h2>
		{% for book in site.data.books %}
		{% if book.status == "reading" %}
		<span class="book"> &#10087; <a href="{{ book.url }}" target="_blank">{{ book.title }}</a></span> – <span class="biblio-author">{{book.author}}</span> </br>
		{% endif %}
		{% endfor %}

		</div>
		</div>

		<div class="biblio-column">
		<h2 class="status"> On the shelf </h2>
		{% for book in site.data.books %}
		{% if book.status == "on the shelf" %}
		<span class="book"> &#10087; <a href="{{ book.url }}" target="_blank">{{ book.title }}</a></span> – <span class="biblio-author">{{book.author}}</span> </br>
		{% endif %}
		{% endfor %}
		</div>

		<div class="biblio-column">
		<h2 class="status"> Done reading</h2>
		{% for book in site.data.books %}
		{% if book.status == "done reading" %}
		<span class="book"> &#10087; <a href="{{ book.url }}" target="_blank">{{ book.title }}</a></span> – <span class="biblio-author">{{book.author}}</span> </br>
		{% endif %}
		{% endfor %}

		</div>

      </div>
    <span class="biblio-author"> Bookshelf started January 2015. <\br>
    * reread book.
    </span>
    </div>

    {% include footer.html %}


  </body>

</html>
